/* Global Veriable */
:root {
    /* typography */
    --primary-font: "Montserrat", sans-serif;
    --headline-font: 'Source Serif Pro', serif;
    --fw-l: 300;
    --fw-m: 500;
    --fw-b: 700;
    --fs-base: 1rem;

    /* color */
    --primary-color: #005f73;
    --secondary-color: #0a9396;
    --tertiary-color: #94d2bd;
    --background-color: #f8f9fa;
    --accent-color-bright: #ffc107;
    --accent-color-dark: #ae2012;
    --neutral-lt-color: #f8f9fa;
    --neutral-mid-color: #6c757d;
    --border-radius: 6px;

    /* Nested Variable */
    --header-bgColor: var(var(--neutral-lt-color));
    --header-textColor: var(var(--tertiary-color));

    /* helper */
    --spacer: 1rem;
    --spacer-dbl: calc(var(--spacer) * 2);
    --border-radius: 6px;
    --shadow: 0 0 6px rgba(0,0,0..3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Local Veriable (scoped variable) 
h1 {
    --color: green;
    color: var(--color);
    background-color: var(--background-color);
}
*/

body {
    background-color: var(--neutral-lt-color);
    color: var(--neutral-mid-color);
    font-family: var(--primary-font);
    font-weight: var(--fw-l);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: var(--primary-color);
    font-family: var(--headline-font);
}

h2 {
    color: var(--secondary-color);
    font-family: var(--headline-font);
    margin-top: calc(var(--spacer) / 2);
}

p {
    margin-bottom: var(--spacer);
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: var(--spacer-dbl);
}

.btn {
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--primary-color);
    color: var(--neutral-lt-color);
    cursor: pointer;
    padding: 6px 12px;
    transition: background-color .3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--accent-color-bright);
}

section.card {
    display: flex;
    gap: var(--spacer);
    width: 80%;
    margin: var(--spacer-dbl) auto;
}

.card article {
    border: solid 1px var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.card article.callout {
    --primary-color: var(--secondary-color);
}

.card h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--neutral-lt-color);
    margin-top: 0;
    padding: 0.25rem;
}

.card figcaption {
    text-align: center;
    font-size: .8rem;
    font-style: italic;
    padding: .25rem;
}

.card p {
    padding: var(--spacer) var(--spacer); 0;
}

.card .btn {
    display: inline-block;
    margin: 0 0 var(--spacer) var(--spacer);
}

footer {
    background-color: var(--secondary-color);
    color: var(--neutral-lt-color);
    text-align: center;
    font-size: .8rem;
    padding: 1rem 0 .25rem;
    margin-top: auto;
}