
.hr img { 
    padding: 3px;
    width: 150px;
    }
.section{
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
}